div#AirConCalcContainer * {
	margin: 0px;
	padding: 0px;
}

div#AirConCalcContainer {
	background: #225DB7 url('../images/aircon-calc.jpg') repeat-x top left;
	border: none;
	color: #FFFFFF;
	font: 12pt Arial, Helvetica, Sans-Serif;
	margin-top: 2px;
	overflow: hidden;
	text-align: left;
	width: 100%;
}

div#AirConCalcInnerContainer {
	border: none;
}

div#AirConCalcContainer a {
	color: #FFFFFF;
}

div#AirConCalcContainer form{
	border: none;
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
	width: auto;
}

div#AirConCalcContainer fieldset {
	border: 1px solid #FFFFFF;
	display: block;
	font-size: 1em;
	margin: 2px 5px;
	padding: 5px;
	text-align: left;
	width: auto;
}

div#AirConCalcContainer legend {
	color: #FFFFFF;
	font-size: 0.7em;
	margin-bottom: 5px;
	padding: 0;
}

div#AirConCalcContainer label {
	border: none;
	clear: right;
	color: #fff;
	font-size: 0.7em;
	float: left;
	text-align: left;
	width: 100%;
}

div#AirConCalcContainer input {
	background-color: #fff;
	border: 1px solid #000;
	font-size: 0.7em;
	float: right;
	padding: 0 2px;
	margin: 0 0 5px 0;
	text-align: right;
	width: 65%;
}

div#AirConCalcContainer p {
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}

div#AirConCalcContainer select {
	background-color: #fff;
	border: 1px solid #000000;
	float: right;
	font-size: 0.7em;
	width: 70%;
}

div#AirConCalcContainer h2 {
	color: #fff;
	font-size: 0.8em;
	margin-top: 0px;
	text-align: center;
	width: auto;
}

div#AirConCalcContainer div#AirConCalcResults { margin: 2px 5px 0 5px; }

div#AirConCalcContainer p#AirConCalcHomeLink {
	font-size: 0.6em;
	margin: 5px;
	text-align: center;
}

div#AirConCalcContainer p span { font-weight: bold; }

div#AirConCalcContainer input.AirConCalcReadonly { background-color: #DDDDDD; }